*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/*experimento*/
body, html{ 
    margin: 0; 
    padding: 0;
    background-color: rgb(136, 136, 136);
    min-width: 30vw;
}
.header{ 
    background:rgb(136, 136, 136); 
    color:rgb(225, 225, 225); 
    height: 120px; 
    width: 100%; 
    text-align:center;
    padding-top: 20px;
}
.menu{ 
    height:45px; 
    width:100%; 
    background:#333; 
    color:white; 
    text-align:center;
    flex: content;
}
.menu a{
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 10px;

}
.menu a:hover{
    background-color: #6c686e;
}
.wrapper{ 
    height: auto;
    width: 80%;
    background-color: #8fe1e8;
    margin-left: 10%;
    padding: 50px;
}
.fixed{
    position:fixed; 
    top:0
}
/*Fin de experimento*/
/*#cuadro{
    background-color: rgb(143, 225, 232);
    
}*/
#cuadro{
    height: auto;
    width: 100%;
    background-color: #bce6ea;
    border-radius: 15px 15px 15px;
    padding: 40px;
}

#cuadro2{

    margin-top: 4vh;
    height: auto;
    width: 100%;
    background-color: #6c686e;
    padding: 40px;
    width: 80%;
    margin-left: 10%;
}

.imagen{
    position: center;
    margin: 47px;
    width: 50vw;
}
#izq{
text-align: left;
margin-left: 100px;
padding-right: 210px;
display: inline-block;
}
#der{
text-align: right;
margin-right: 10px;
display: inline-block;
}
/*--------------------botones-----------------------------------------------------------------------------*/

.azul{display: inline-flex;

position: center   ;
text-align: center  ;
 }

.twitter {
    margin-right: 5vw;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	&:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
 &:active {
	position:relative;
	top:1px;
}
 }

 .facebook {
     box-shadow:inset 0px 1px 0px 0px #71a6e2;
     background:linear-gradient(to bottom, #032dc4 5%, #0921a8 100%);
     background-color:#034dc4;
     border-radius:6px;
     border:1px solid #073cb8;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:15px;
     font-weight:bold;
     padding:6px 24px;
     text-decoration:none;
     text-shadow:0px 1px 0px #092580;
     &:hover {
     background:linear-gradient(to bottom, #0931a8 5%, #0313c4 100%);
     background-color:#1909a8;
 }
  &:active {
     position:relative;
     top:1px;
 }
  }


  *{
    margin: 0;
    padding: 0;
    

}

@font-face {
    font-family: sonic;
    src: url(fuentes/NiseSegaSonic.TTF);
}
@font-face {
    font-family: alagard;
    src: url(fuentes/alagard.ttf);
}






#principal{
    width: 100px;
    height: 30px;
    }

    main{
        position: center;
        text-align: center;
        padding: auto;
        margin: auto;
      color: #fff;



    }
    main img{
        max-height: 400px;
      border-radius: 1em 1em 1em;
      padding: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      
    }
    main h1{
        background-color: #000;
        border-radius: 1em 1em 1em;
        text-shadow: 1px 1px 1px rgb(150, 53, 1);
        font-family: 'Acme', sans-serif;
    }

    main h2 {
        font-family: 'Acme', sans-serif;
    }

    main h3 {
        font-family: sonic; 
    }

    #left{
        float: left;

        width: 25vw;
        background-color: #fff;
        padding: auto;
        border-radius: 1em 1em 1em;
        margin-top: 1em;
    
    }

    #left img{
        width: 15vw;
       
      
    }
    #right{
        float:right;
        width: 25vw;
        padding-top: 3vh;
    }

    #right img{
        width: 25vw;
        background-color: #fff;
        border-radius: 1em 1em 1em;
    }